* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    transition: 0.5s;
}

html {
    background-color: black;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    position: fixed;
    background-color: black;
    color: white;
    z-index: 99;
}

#header-image-container {
    background-color: white;
    color: black;
    padding: 0.7%;
    border-radius: 50%;
}

#header-menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    padding: none;
    margin: none;
    /* font-size: large; */
}

#header-menu div {
    width: 30%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

@media (min-width: 480px) {

    #header-menu {
        width: 40%;
    }
}

@media (min-width: 768px) {
    #header-menu {
        width: 30%;
    }
}

@media (min-width: 1025px) {
    #header-menu {
        width: 20%;
    }
}

/* top section */

#top-section {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 70px;
    width: 100%;
}

#top-section-circle {
    background-color: white;
    height: 750px;
    width: 750px;
    border-radius: 50%;
    position: relative;
    right: 200px;
    padding: 100px 100px 100px 250px;
    display: flex;
    align-items: center;
}

#top-section-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-self: center; */
    align-items: flex-start;
    height: 350px;
    width: 500px;
    border-radius: 50%;
    padding: 0;
}

#logo {
    width: auto;
    align-items: center;
    margin-top: 2%;
}

#logo h1 {
    font-size: 350%;
}

#logo h3 {
    font-size: 150%;
}

#description {
    position: relative;
    top: 30px;
    width: auto;
    padding-right: 5%;
}

@media (min-width: 480px) {
    #logo {
        width: 400px;
    }

    #description {
        width: 400px;
    }
}

@media (min-width: 768px) {
    #top-section-circle {
        right: 100px;
        padding: 25px 25px 25px 170px;
    }

    #logo {
        width: 600px;
    }

    #description {
        bottom: 0;
    }
}

@media (min-width: 1025px) {

    #top-section {
        /* justify-content: center; */
    }

    #top-section-circle {
        /* width: 900px;
        height: 900px; */
        /* padding-left: 150px; */
        right: -15%;
    }

    #logo {
        width: 800px;
    }

    #description {
        font-size: large;
        width: 500px;
    }
}