/* 
    colors
    dark: #2b2d42
    medium: #8d99ae
    light #edf2f4
    light turq #83c5be
    yellowish white: #fcf6ea
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    transition: 0.5s;
}

html {
    background-color: #2b2d42;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    position: fixed;
    background-color: #2b2d42;
    color: #83c5be;
    z-index: 99;
    /* border: 1px solid red; */
}

#header-image-container {
    background-color: #83c5be;
    color: #2b2d42;
    padding: 10px;
    /* border: 2px solid #edf2f4; */
    border-radius: 50%;
    text-decoration: none;
}

header #contact {
    border: 2px solid #83c5be;
    padding: 10px;
    border-radius: 20px;
}

#header-menu div {
    width: 30%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

@media (min-width: 768px) {
    #header-menu {
        width: 30%;
    }
}

@media (min-width: 1025px) {
    #header-menu {
        width: 20%;
    }
}

/* top section */

#top-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 70px;
    width: 85%;
    height: 300px;
    color: #fcf6ea;
    /* background-color: #28232B; */
    letter-spacing: 2px;
    padding: 20px;
    margin: 5px;
    /* border: 1px solid red; */
    /* border: 2px solid #28232B; */
}

#top-section h1 {
    /* border: 2px solid #fcf6ea; */
    display: flex;
    justify-content: center;
    /* background-color: #28232B; */
    color: #fcf6ea;
    letter-spacing: 4px;
}

#top-section p {
    display: flex;
    color: #83c5be;
    justify-content: center;
    font-size: 17px;
}

#top-section-container img {
    /* border: 1px solid red; */
    width: 50%;
    position: relative;
    top: 100px;
}

@media (min-width: 768px) {
    #top-section h1 {
        font-size: 35px;
    }

    #top-section p {
        font-size: 25px;
    }

    #top-section-container img {
        width: 25%;
        top: 230px;
    }
}

@media (min-width: 1025px) {
    #top-section-container img {
        width: 25%;
        top: 130px;
    }
}

/* @media (min-width: 1200px) {
    #top-section-container img {
        width: 20%;
        top: 230px;
    }
} */

/* intro sec */
#intro-container {
    width: 100%;
    height: 230px;
    background-color: #fcf6ea;
    color: #2b2d42;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}

#intro-container h1 {
    font-size: 20px;
}

#intro-container p {
    text-align: center;
    font-size: 14px;
    color: #8d99ae;
}

.intro-highlight {
    color: #83c5be;
}

@media (min-width: 768px) {
    #intro-container {
        top: 300px;
        padding: 20px 100px;
    }

    #intro-container h1 {
        font-size: 35px;
    }

    #intro-container p {
        font-size: 20px;
    }
}

@media (min-width: 1025px) {
    #intro-container {
        height: 350px;
        padding: 90px 200px;
    }

    #intro-container h1 {
        font-size: 35px;
    }

    #intro-container p {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {}

/* projects section */
#project-container {
    width: 100%;
    height: 350px;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 0; */
}

#project-box-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-box,
#project-header {
    width: 85%;
    height: 100%;
    /* border-radius: 20px; */
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #8d99ae;
    text-decoration: none;
}

.project-box:hover {
    background: #8d99ae;
    padding: 0 3%;
}

.project-box h2 {
    color: #fcf6ea;
    font-size: 20px;
    font-weight: 600;
}

#project-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* align-items: start; */
}

#project-header h2 {
    color: #83c5be;
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 768px) {
    #project-container {
        top: 300px;
        height: 550px;
    }

    .project-box h2 {
        font-size: 30px;
    }

    #project-header h2 {
        font-size: 26px;
    }
}

@media (min-width: 1025px) {
    #project-container {
        top: 320px;
        height: 600px;
    }

    #project-header {
        font-size: 35px;
    }
}

@media (min-width: 1200px) {
    #project-container {
        height: 700px;
    }
}