/* 
    colors
    dark purple: 2E223C
    dark green: 586331
    black: 28232B
    white: f1f3f1
    lime green: 9EB53F
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    transition: 0.5s;
}

html {
    background-color: black;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: fixed;
    background-color: black;
    color: white;
    z-index: 99;
    /* border: 1px solid red; */
}

#header-image-container {
    background-color: white;
    color: black;
    padding: 10px;
    /* border: 2px solid white; */
    border-radius: 50%;
}

header #contact {
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}

#header-menu div {
    width: 30%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

@media (min-width: 480px) {

    #header-menu {
        width: 40%;
    }
}

@media (min-width: 768px) {
    #header-menu {
        width: 30%;
    }
}

@media (min-width: 1025px) {
    #header-menu {
        width: 20%;
    }
}

/* top section */

#top-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 70px;
    width: 85%;
    height: 300px;
    color: #f1f3f1;
    /* background-color: #28232B; */
    letter-spacing: 2px;
    padding: 20px;
    margin: 5px;
    /* border: 1px solid red; */
    /* border: 2px solid #28232B; */
}

#top-section h1 {
    /* border: 2px solid #f1f3f1; */
    display: flex;
    justify-content: center;
    /* background-color: #28232B; */
    color: #f1f3f1;
    letter-spacing: 4px;
}

#top-section p {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

#top-section-container img {
    /* border: 1px solid red; */
    width: 50%;
    position: relative;
    top: 100px;
}

@media (min-width: 480px) {
    #top-section {
        height: 230px;
    }

    #top-section-container img {
        width: 40%;
        top: 170px;
    }
}

@media (min-width: 768px) {
    #top-section-container img {
        width: 30%;
        top: 230px;
    }
}

@media (min-width: 1025px) {
    #top-section-container img {
        width: 25%;
        top: 230px;
    }
}

@media (min-width: 1200px) {
    #top-section-container img {
        width: 20%;
        top: 230px;
    }
}

/* intro sec */
#intro-container {
    width: 100%;
    height: 230px;
    background-color: #f1f3f1;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}

#intro-container h1 {
    font-size: 20px;
}

#intro-container p {
    text-align: center;
    font-size: 14px;
}

@media (min-width: 480px) {
    #intro-container {
        top: 200px;
        padding: 20px 120px;
    }
}

@media (min-width: 768px) {
    #intro-container {
        top: 300px;
        padding: 20px 150px;
    }

    #intro-container h1 {
        font-size: 30px;
    }

    #intro-container p {
        font-size: 16px;
    }
}

@media (min-width: 1025px) {
    #intro-container {
        height: 350px;
        padding: 90px 200px;
    }

    #intro-container h1 {
        font-size: 35px;
    }

    #intro-container p {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {}